In [1]:
%pip install python-gnupg
%pip install eep153_tools

Collecting python-gnupg
  Using cached python_gnupg-0.5.2-py2.py3-none-any.whl (20 kB)
Installing collected packages: python-gnupg
Successfully installed python-gnupg-0.5.2
Note: you may need to restart the kernel to use updated packages.
Collecting eep153_tools
  Downloading eep153_tools-0.12.3-py2.py3-none-any.whl (4.8 kB)
Installing collected packages: eep153_tools
Successfully installed eep153_tools-0.12.3
Note: you may need to restart the kernel to use updated packages.

In [2]:
!pip install eep153_tools --upgrade

Requirement already satisfied: eep153_tools in /srv/conda/lib/python3.9/site-packages (0.12.3)

In [8]:
from eep153_tools.sheets import read_sheets

url = 'https://docs.google.com/spreadsheets/d/1YupX14TogoubSrlHtG9OgfBdKUhsss29L63mcNDNCUo/'

guatemala_prices = read_sheets(url,sheet='Food Prices',nheaders=2)
guatemala_prices

                                          2000                             \
                                       Central Metropolitana Noroccidente
j                                u
Cooking Oil                      lbs  5.010737      5.368647     4.545454
Water (bottle)                   lbs  0.454545      0.240500     0.240500
Avocado                          lbs  1.865672      3.544776     1.492537
Mineral Water                    lbs  2.750779      2.731270     3.209243
Garlic                           lbs  4.545455      4.545455     4.545455
...                                        ...           ...          ...
Chicken Giblets                  lbs  4.000000      4.500000     4.000000
Yogurt                           lbs  8.227273      9.090909     8.181818
Yucca                            lbs  2.000000      2.500000     1.000000
Carrots                          lbs  1.063830      1.063830     0.638298
Leafcutter Ants and Other Insect lbs  8.000000           NaN     4.500000

                                                                     \
                                     Nororiente     Norte     Peten
j                                u
Cooking Oil                      lbs   4.563468  5.368647  5.000000
Water (bottle)                   lbs   0.264550  0.240500  0.300625
Avocado                          lbs   3.731343  1.492537  1.492537
Mineral Water                    lbs   3.209243  3.209243  3.851091
Garlic                           lbs   9.090909  3.787879  9.090909
...                                         ...       ...       ...
Chicken Giblets                  lbs   5.000000  4.000000  4.000000
Yogurt                           lbs   8.658009  7.272727  8.409091
Yucca                            lbs   2.000000  1.339286  2.000000
Carrots                          lbs   2.127660  2.127660  2.127660
Leafcutter Ants and Other Insect lbs   6.000000       NaN  6.000000


                                     Suroccidente Suroriente
j                                u
Cooking Oil                      lbs     3.863636   5.368647
Water (bottle)                   lbs     0.245700   0.288600
Avocado                          lbs     1.492537   2.985075
Mineral Water                    lbs     3.209243   3.209243
Garlic                           lbs     4.545455   4.545455
...                                           ...        ...
Chicken Giblets                  lbs     3.875000   4.000000
Yogurt                           lbs     6.818182   4.545454
Yucca                            lbs     1.500000   2.000000
Carrots                          lbs     0.620567   2.127660
Leafcutter Ants and Other Insect lbs     5.000000   4.250000

[96 rows x 8 columns]

In [11]:
guatemala_fct = read_sheets(url,sheet='FCT')
guatemala_fct

,j,2000,Code,Nutrient,Agua,Energía,Proteina,Grasa Total,Carbo-hidratos,Fibra Diet. total,...,Colesterol,Potasio,Sodio,Zinc,Magnesio,Vit. B6,Vit. B12,Ac. Fólico,Folato Equiv. FD,Fracción Comestible
0,Cooking Oil,aceites comestibles,16029,ACEITE VEGETAL FORTIFICADO (PL 480),0.00,884,0.00,100.00,0.00,0.0,...,0,0,0,0.00,0,0.00,0.00,0,0,1.00
1,Chicken Giblets,visceras de pollo o gallina,3046,"POLLO, VISCERAS O MENUDOS, CRUDOS",69.80,168,17.89,9.21,2.13,0.0,...,240,226,77,3.01,18,0.52,10.83,0,350,1.00
2,Avocado,aguacate,11005,AGUACATE,73.23,160,2.00,14.66,8.53,6.7,...,0,485,7,0.64,29,0.26,0.00,0,81,0.74
3,Mineral Water,aguas gaseosas,17016,"BEBIDA GASEOSA O CARBONATADA, NO COLAS",87.60,48,0.00,0.00,12.30,0.0,...,0,2,12,0.10,1,0.00,0.00,0,0,1.00
4,Garlic,ajo,11006,"AJO, CABEZA O BULBO",63.80,134,5.30,0.20,29.30,0.0,...,0,529,19,1.00,0,0.00,0.00,3,0,0.94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86,Tea,te,17062,"TE DE HIERBAS (NO MANZANILLA), PREPARADO C/AGU...",99.70,1,0.00,0.00,0.20,0.0,...,0,9,1,0.04,1,0.00,0.00,0,1,1.00
87,Tomatoes,tomate,11157,TOMATE ROJO,93.80,21,0.80,0.30,4.60,1.2,...,0,237,5,0.17,0,0.08,0.00,0,15,0.98
88,Tortillas,tortillas,14057,"TORTILLA DE MAICILLO, C/CAL",48.80,194,5.00,1.50,43.80,0.0,...,0,0,0,0.00,0,0.00,0.00,0,0,1.00
89,Tostadas,tostadas,11078,"ELOTE/MAÍZ FRESCO, MUY TIERNO",89.00,36,1.80,0.20,8.40,0.0,...,0,0,0,0.00,0,0.00,0.00,0,0,1.00
90,Carrots,zanahoria,11169,"ZANAHORIA C/CÁSCARA, CRUDA",88.29,41,0.93,0.24,9.58,2.8,...,0,320,69,0.24,12,0.14,0.00,0,19,0.89

In [12]:
guatemala_hhc = read_sheets(url,sheet='Household Characteristics')
guatemala_hhc

,i,t,m,Males 00-03,Females 00-03,Males 04-08,Females 04-08,Males 09-13,Females 09-13,Males 14-18,Females 14-18,Males 19-30,Females 19-30,Males 31-50,Females 31-50,Males 51-99,Females 51-99
0,1,2000,Metropolitana,0,1,0,0,0,0,0,0,1,1,0,1,0,0
1,2,2000,Metropolitana,0,0,0,0,0,0,0,0,0,0,1,0,1,1
2,3,2000,Metropolitana,0,0,0,0,2,0,0,0,1,0,1,1,1,0
3,4,2000,Metropolitana,0,0,0,0,0,0,0,0,0,0,0,0,0,1
4,5,2000,Metropolitana,0,0,1,0,0,0,0,0,0,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7271,7272,2000,Suroriente,0,0,0,0,0,0,0,0,0,0,0,0,0,1
7272,7273,2000,Suroriente,1,0,1,1,0,0,0,0,1,1,0,0,0,0
7273,7274,2000,Suroriente,0,1,1,0,1,1,0,1,0,0,1,1,0,0
7274,7275,2000,Suroriente,1,0,0,0,0,1,0,0,1,1,0,0,1,1
7275,7276,2000,Suroriente,1,1,2,0,2,0,0,2,0,0,1,1,0,0

In [13]:
guatemala_expenditures = read_sheets(url,sheet='Food Expenditures')
guatemala_expenditures

,i,t,m,Cooking Oil,Water (bottle),Avocado,Mineral Water,Garlic,Mushrooms,Celery,...,Tea,Tomatoes,Tortillas,Tostadas,Beef Entrails,Chicken Giblets,Yogurt,Yucca,Carrots,Leafcutter Ants and Other Insect
0,1,2000,Metropolitana,7.5,20.0,5.0,6.00,1.00,NaN,2.0,...,7.0,9.0,60.0,NaN,NaN,21.0,NaN,NaN,3.6,NaN
1,10,2000,Metropolitana,15.0,15.0,30.0,NaN,2.00,20.0,2.0,...,8.5,14.0,30.0,NaN,30.0,12.5,NaN,NaN,7.5,NaN
2,100,2000,Metropolitana,13.0,10.5,NaN,16.00,0.25,NaN,2.0,...,NaN,2.5,4.0,NaN,16.0,NaN,NaN,NaN,3.0,NaN
3,1000,2000,Central,9.5,10.0,NaN,NaN,1.50,NaN,1.5,...,NaN,9.0,60.0,NaN,NaN,NaN,NaN,NaN,6.0,NaN
4,1001,2000,Central,10.0,20.0,5.0,7.75,1.00,NaN,2.0,...,22.0,6.0,37.5,NaN,12.0,NaN,NaN,1.0,3.5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7252,995,2000,Central,NaN,NaN,NaN,18.00,NaN,NaN,1.0,...,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
7253,996,2000,Central,13.0,12.0,NaN,12.00,6.00,NaN,2.0,...,NaN,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7254,997,2000,Central,1.5,NaN,NaN,6.50,NaN,NaN,NaN,...,NaN,8.0,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7255,998,2000,Central,16.0,37.5,4.0,10.00,0.75,NaN,NaN,...,NaN,9.0,10.0,NaN,NaN,NaN,NaN,2.0,6.0,NaN
7256,999,2000,Central,16.0,NaN,12.0,36.00,NaN,NaN,2.0,...,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN

KeyError: 'Expenditures'

i                    796  Alcoholic beverages  \
j     t    m u
101   2011 1 kg      NaN                  NaN
102   2011 1 gramme  NaN                  NaN
             kg      NaN                  NaN
             litre   NaN                  NaN
103   2011 1 kg      NaN                  NaN
...                  ...                  ...
27009 2011 1 kg      NaN                  NaN
27011 2011 1 kg      NaN                  NaN
             litre   NaN                  NaN
27012 2011 1 kg      NaN                  NaN
             litre   NaN                  NaN

i                    Alcoholic beverages taken out of home  Bambara groundnut  \
j     t    m u
101   2011 1 kg                                        NaN                NaN
102   2011 1 gramme                                    NaN                NaN
             kg                                        NaN                NaN
             litre                                     NaN                NaN
103   2011 1 kg                                        NaN                NaN
...                                                    ...                ...
27009 2011 1 kg                                        NaN                NaN
27011 2011 1 kg                                        NaN                NaN
             litre                                     NaN                NaN
27012 2011 1 kg                                        NaN                NaN
             litre                                     NaN                NaN

i                    Baobab leaves  Bean fritters  Beans  Beef  Biscuit  \
j     t    m u
101   2011 1 kg                NaN            NaN    NaN   NaN      NaN
102   2011 1 gramme            NaN            NaN    NaN   NaN      NaN
             kg                NaN            NaN    NaN   2.0      NaN
             litre             NaN            NaN    NaN   NaN      NaN
103   2011 1 kg                NaN            NaN    NaN   NaN      NaN
...                            ...            ...    ...   ...      ...
27009 2011 1 kg                NaN            NaN    NaN   2.0      NaN
27011 2011 1 kg                NaN            NaN    NaN   NaN      NaN
             litre             NaN            NaN    NaN   NaN      NaN
27012 2011 1 kg                NaN            NaN    NaN   1.0      NaN
             litre             NaN            NaN    NaN   NaN      NaN

i                    Boiled beans  ...  Sweet potato  Taro and cocoyam  \
j     t    m u                     ...
101   2011 1 kg               NaN  ...           NaN               NaN
102   2011 1 gramme           NaN  ...           NaN               NaN
             kg               NaN  ...           NaN               NaN
             litre            NaN  ...           NaN               NaN
103   2011 1 kg               NaN  ...           NaN               NaN
...                           ...  ...           ...               ...
27009 2011 1 kg               NaN  ...           NaN               NaN
27011 2011 1 kg               NaN  ...           NaN               NaN
             litre            NaN  ...           NaN               NaN
27012 2011 1 kg               NaN  ...           NaN               NaN
             litre            NaN  ...           NaN               NaN

i                    Tea bag  Tea hot drink  Tomato paste  Watermelon  \
j     t    m u
101   2011 1 kg          NaN            NaN           NaN         NaN
102   2011 1 gramme      NaN            NaN           NaN         NaN
             kg          NaN            NaN           NaN         NaN
             litre       NaN            NaN           NaN         NaN
103   2011 1 kg          1.0            NaN           NaN         NaN
...                      ...            ...           ...         ...
27009 2011 1 kg          NaN            NaN           NaN         NaN
27011 2011 1 kg          NaN            NaN           NaN         NaN
             litre       NaN            NaN           NaN         NaN
27012 2011 1 kg          NaN            NaN           NaN         NaN
             litre       NaN            NaN           NaN         NaN

i                    Wheat flour  Yam tuber  Yodo  Yogurt
j     t    m u
101   2011 1 kg              NaN        NaN   NaN     NaN
102   2011 1 gramme          NaN        NaN   NaN     NaN
             kg              NaN        NaN   NaN     NaN
             litre           NaN        NaN   NaN     NaN
103   2011 1 kg              NaN        NaN   NaN     NaN
...                          ...        ...   ...     ...
27009 2011 1 kg              NaN        NaN   NaN     NaN
27011 2011 1 kg              NaN        NaN   NaN     NaN
             litre           NaN        NaN   NaN     NaN
27012 2011 1 kg              NaN        NaN   NaN     NaN
             litre           NaN        NaN   NaN     NaN

[6937 rows x 129 columns]

,Food name in English,Food name in French,Scientific name,BiblioID/Source,Edible portion coefficient 1 (from as purchased to as described),Edible portion coefficient 2 (from as described to as eaten),Sum of proximate components (g),Energy (kJ),Energy (kcal),Water (g),...,"Fatty acids, total monounsaturated (g)","Fatty acids, total polyunsaturated (g)",Linoleic acid (g),Alpha-linolenic acid (g),"Phytate, total or [phytate, determined by direct precipitation] or [phytate, determined by indirect precipitation] (mg)",Inositol triphosphate (IP3) (mg),Inositol tetraphosphate (IP4) (mg),Inositol pentaphosphate (IP5) (mg),Inositol hexaphosphate (IP6) (mg),Conversion factor for calculating total protein from total nitrogen
i,,,,,,,,,,,,,,,,,,,,,
01_172,NaN,NaN,NaN,NaN,NaN,1.0,99.9,329.0,78.0,80.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
01_173,NaN,NaN,NaN,NaN,NaN,1.0,99.9,277.0,65.0,83.3,...,0.04,0.04,0.04,0.00,21.0,NaN,NaN,NaN,NaN,NaN
01_168,NaN,NaN,NaN,NaN,NaN,1.0,100.0,426.0,100.0,74.6,...,0.12,0.13,0.12,0.00,41.0,NaN,NaN,NaN,NaN,NaN
01_188,NaN,NaN,NaN,NaN,1.0,1.0,100.0,2010.0,479.0,4.6,...,7.65,2.38,2.03,0.29,NaN,NaN,NaN,NaN,NaN,6.25
01_177,NaN,NaN,NaN,NaN,NaN,1.0,99.4,1050.0,252.0,54.7,...,5.11,8.08,7.81,0.10,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14_024,NaN,NaN,NaN,NaN,NaN,1.0,99.4,399.0,96.0,83.5,...,2.83,0.80,0.09,0.01,NaN,NaN,NaN,NaN,NaN,NaN
14_023,NaN,NaN,NaN,NaN,NaN,1.0,99.5,823.0,199.0,71.5,...,6.85,1.69,0.18,0.01,NaN,NaN,NaN,NaN,NaN,NaN
14_020,NaN,NaN,NaN,NaN,NaN,1.0,99.6,181.0,44.0,89.1,...,0.69,1.09,0.95,0.04,NaN,NaN,NaN,NaN,NaN,NaN
14_022,NaN,NaN,NaN,NaN,NaN,1.0,99.6,251.0,60.0,86.7,...,1.20,1.87,1.71,0.04,NaN,NaN,NaN,NaN,NaN,NaN
14_010,NaN,NaN,NaN,NaN,NaN,1.0,99.8,932.0,226.0,65.4,...,7.00,8.46,8.21,0.19,NaN,NaN,NaN,NaN,NaN,NaN